*Debug/
*Release/
*.metadata/
doc/html
*.cproject
*.project
*.launch
Demos/Blinky/.settings/*
Demos/KvasirUnitTest/.settings/*
build/*
*.swp
*.pyproj
*.suo
*.sln
*.pyc
.mypy_cache
CMakeLists.txt.user
CMakeLists.txt.autosave

